*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif; 
    padding: 20px; 
    max-width: 600px; 
    margin: auto; 
    background: #ebffeb;
}
#map { 

    height: 400px; 
    margin-bottom: 1rem; 
    border-radius: 10px; 
    border: 2px solid #ccc; 
}
input, select { 
    width: 100%; 
    padding: 8px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
}
.suggestion-item{ 
    padding: 8px; 
    cursor: pointer; 
    background: white; 
    border-bottom: 1px solid #ddd;
}
.suggestion-item:hover { 
    background-color: #f0f0f0; 
}
#distance, #priceDisplay { 
    font-weight: bold; 
    font-size: 18px; 
    margin-top: 10px; 
}
button { 
    padding: 10px 15px; 
    margin-top: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; }
button[type=button] { 
    background-color: #f44336; 
    color: white; }