
:root{
    /*size*/
    
    --sz-xxs: 6px;/*.25*/
    --sz-xs:8px;
    --sz-sm:10px; /*.125*/
    --sz-base: 12px;
    --sz-lg: 14px;
    --sz-xl:16px;
    --sz-2xl:20px;/*.25*/
    --sz-3xl:24px;
    --sz-4xl:30px;/*.5*/
    --sz-5xl:36px;/*.75*/
    --sz-6xl:42px;
    --sz-7xl:50px;/*1*/
    --sz-8xl:58px;/*2*/
    --sz-9xl:68px;
    --sz-10xl:80px;

    /*color*/
    --clr-grn:#2b7926;
    --clr-sltgrn:#41b93d;
    --clr-grygrn:#8bc28d;
    --clr-lgt:#eafeea;
    --clr-blk: #000;
    --clr-lgtred:#FF2424;
    --clr-red:#FF0000;
}

#map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border: 1px solid --clr-drkgrn;
    z-index: -1;

}
.menu{
    font-family: "Oswald" ,sans-serif;
    font-size: var(--sz-sm);
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: 80%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 99;
}
#title{
    font-family: "Michroma", sans-serif;
    font-size: var(--sz-base);
}
.row{
    display: flex;
    margin-bottom: .3em;
}
.input-wrapper label {
    display: block;  /* stack vertically */
    width: 100%; 
     font-size: var(--sz-xs);
}
.btn-row{
    display: flex;
    justify-content: space-evenly;
}
.btn-row button{
    padding: 10px 15px; 
    margin-top: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: var(--sz-sm);
}

#messengerBtn{
    background: var(--clr-grn);
    color: var(--clr-lgt);
}
.row p{
    flex: 1;
    font-size: var(--sz-sm);
}
input,select{
    font-size: var(--sz-sm);
    padding: .3rem;
    display: block;  /* stack vertically */
    width: 95%;
    margin-top: -.1rem;
    border-radius: .2rem;
    border: 1px solid var(--clr-sltgrn);
    outline: none;
    
}
option {
      background-color: white;
      color: black;
     font-size: var(--sz-xxs);
     font-family: "Oswald" ,sans-serif;
}
.input-wrapper {

  display: inline-block;
  width: 100%;
}

.suggestion-box {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  background: white;
  border: 1px solid #ccc;
  border: none;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.suggestion-item {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  font-size: var(--sz-base);
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
h2{
    display: flex;
    align-items: center;
    font-size: var(--sz-xs);
}
#icon-nobg{
    margin-right:10px ;
    width: 30px;
    height: 30px;
}
  #startTime, #endTime{
        font-size: var(--sz-xxs);
    }
#priceDisplay{
    font-style: italic;
    border-bottom: 1px solid var(--clr-grn);
}
/*responsive*/

@media (min-width: 475px){
  input,select{
    
    padding: .5rem;
    } 
    h2{
        font-size: var(--sz-md);
    } 
    label{
        font-size: var(--sz-xs);
    } 
     .menu{
    left: 12.5%;
    max-width: 75%;
    }
    #startTime, #endTime{
        font-size: var(--sz-xs);
    }
    option{
        font-size: var(--sz-xs);
    }
}
/*xs*/
@media (min-width: 640px){
    input,select{
    font-size: var(--sz-sm);
    padding: .5rem;
    } 
    h2{
        font-size: var(--sz-lg);
    } 
    label{
        font-size: var(--sz-sm);
    } 
    .menu{
    position: absolute;
    left: 15%;
    max-width: 70%;
    }
      #startTime, #endTime{
        font-size: var(--sz-sm);
    }
    option{
        font-size: var(--sz-sm);
    }
}

/*xs*/
@media (min-width: 768px){
     .menu{
    position: absolute;
    left: 20%;
    max-width: 60%;
    }
     input,select{
    font-size: var(--sz-base);
    padding: .5rem;
    } 
    h2{
        font-size: var(--sz-xl);
    } 
    label{
        font-size: var(--sz-base);
    }
    option{
        font-size: var(--sz-base);
    }
    

}
/*xs*/
@media (min-width: 1024px){
    .suggestion-item {
        font-size: var(--sz-lg);
    }

}
/*xs*/
@media (min-width: 1280px){

}
/*xs*/
@media (min-width: 1536px){

}