*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif; 
    padding: 20px; 
    max-width: 600px; 
    margin: auto; 
    background: #ebffeb;
}
.summaryBox{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#map { 

    height: 400px; 
    margin-bottom: 1rem; 
    border-radius: 10px; 
    border: 2px solid #ccc; 
}
input, select { 
    width: 100%; 
    padding: 8px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
}
.suggestion-item{ 
    padding: 8px; 
    cursor: pointer; 
    background: white; 
    border-bottom: 1px solid #ddd;
}
.suggestion-item:hover { 
    background-color: #f0f0f0; 
}
#distance, #priceDisplay { 
    font-weight: bold; 
    font-size: 18px; 
    margin-top: 10px; 
}
button { 
    padding: 10px 15px; 
    margin-top: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
button[type=button] {  
    color: white; 
}
#capture{
    background: #4CAF50;
}
#capture:hover{
    background: green;
}
#reset{
    background:#f44336;
}
#reset:hover{
    background:#f22516;
}
